---
layout: default
---


{% include index/hero-banner.html %}

<div class="about-info">
    <div class="container">
		<div class="contact-info-block">
		
		<h2>
			Timing is everything:
		</h2>
		<p> 
			<a href="https://medium.com/@nxtbgthng/the-next-big-thing-for-nxtbgthng-6cf81bf29dce">Exactly one year ago</a> we set out to split off the development agency part of <a href="//nxtbgthng.com">nxtbgthng</a> under the name <strong>Evenly</strong>.<br>
			It’s done. <strong>Evenly</strong> has taken over the mobile app development and is ready for 2016.
		</p>
		
		<h2>
			What has changed?
		</h2>
		<p>
			New name, new website. Same faces, same quality. <br>
			We are looking forward to working with you in 2016 and wish you a merry christmas and a happy new year!
		</p>
        <!-- ><a href="#" class="btn-primary">Read all about it</a> -->
    </div>		
    </div>
</div>
<div class="container">
    <div class="contact-info-block">
        <p>We are experts in building apps and frameworks for iPhone, iPad and Android. Together with our partners we
            design and develop high quality applications from the first sketch to the final release.</p>
    </div>
</div>

{% include index/contact-slider.html %}

{% include index/team.html %}