---
layout: default
---


{% include index/hero-banner.html %}

<div class="about-info">
    <div class="container">
        <p>Last year was a big year for us. Now we’ve got some <br>intersting things coming up in 2016.</p>
        <!-- ><a href="#" class="btn-primary">Read all about it</a> -->
    </div>
</div>
<div class="container">
    <div class="contact-info-block">
        <p>We are experts in building apps and frameworks for iPhone, iPad and Android. Together with our partners we
            design and develop high quality applications from the first sketch to the final release.</p>
    </div>
</div>

{% include index/contact-slider.html %}

{% include index/team.html %}