---
layout: default
title: Jobs
permalink: /jobs/
---

{% include jobs/jobs-banner.html %}
<div class="grow-block">
    <div class="container">
        <h2>Let’s grow and thrive together!</h2>
        <p>Do you want to be part of a young and growing company with a great team, a great work-life balance, nice work environment and an office in the heart of Berlin-Kreuzberg?</p>
    </div>
</div>
{% include jobs/jobs.html %}

<div class="job-detail">
    <div class="container">
        <p>Do you have mad skills?</p>
        <p>Don’t be shy.</p>
        <p>If you think you are the right person for our team, we would love to meet you!</p>
        <p>Send us an email with your CV, a cover letter and references to:</p>
        <div class="btn-wrap">
            <a href="mailto:&#106;&#111;&#098;&#115;&#064;&#110;&#120;&#116;&#098;&#103;&#116;&#104;&#110;&#103;&#046;&#099;&#111;&#109;" class="btn-default">&#106;&#111;&#098;&#115;&#064;&#110;&#120;&#116;&#098;&#103;&#116;&#104;&#110;&#103;&#046;&#099;&#111;&#109;</a>
        </div>
    </div>
</div>