---
layout: default
title: Jobs
permalink: /jobs/
---

{% include jobs/jobs-banner.html %}
<div class="grow-block">
    <div class="container">
        <h2>Let’s grow and thrive together!</h2>
        <p>Do you want to be part of a young and growing company with an open minded team, interesting customers, a great work-life balance, and an office in the heart of Berlin-Kreuzberg?</p>
    </div>
</div>
{% include jobs/jobs.html %}

<div class="job-detail">
    <div class="container">
        <p>Do you have mad skills?</p>
        <p>Don’t be shy.</p>
        <p>If you think you are the right person for our team, we would love to meet you! We especially encourage people from underrepresented groups, to not hesitate and get in touch.</p>
        <p>Send us an email with your CV, a cover letter, code samples and references to:</p>
        <div class="btn-wrap">
            <a href="mailto:jobs@evenly.io" class="btn-default">jobs@evenly.io</a>
        </div>
    </div>
</div>