<div class="projects-block container">
    <div class="text">
        <p>This is copytext about doing work in a specific way and with a certain method, acclimatizing with client needs to deliver work of the highest quality.</p>
    </div>
    <div class="projects-item-holder same-height">
        {% for project in site.projects %}
            <div class="project-item {{ project.customclass }}">
                <div class="height">
                    <strong class="title">{{ project.title }}</strong>
                    <div class="text-holder">
                        <p>{{ project.small-description }}</p>
                    </div>
                </div>
                <div class="btn-holder">
                    <div class="btn-col">
                        <a href="{{ project.url }}" class="btn">Tell me more</a>
                    </div>
                    {% if project.appstore %}
                    <div class="btn-col">
                        <a href="{{ project.appstore }}" title="{{ project.title }} on the Apple App Store" class="btn">App Store</a>
                    </div>
                    {% else %}
                    {% if project.playstore %}
                    <div class="btn-col">
                        <a href="{{ project.playstore }}" title="{{ project.title }} on the Google Play Store" class="btn">Play Store</a>
                    </div>
                    {% endif %}
                    {% endif %}                
                </div>
            </div>
        {% endfor %}
    </div>
</div>