<div class="projects-block container">
    <div class="text">
        <p>This is copytext about doing work in a specific way and with a certain method, acclimatizing with client needs to deliver work of the highest quality.</p>
    </div>
    <div class="projects-item-holder same-height">
        <div class="project-item">
            <div class="height">
                <strong class="title">3D Around</strong>
                <div class="text-holder">
                    <p>Together with the Swiss computer vision technology company Dacuda we built an app making use of their advanced computer vision technology.</p>
                </div>
            </div>
            <div class="btn-holder">
                <div class="btn-col">
                    <a href="#" class="btn">Tell me more</a>
                </div>
                <div class="btn-col">
                    <a href="#" class="btn">AppStore</a>
                </div>
            </div>
        </div>
        <div class="project-item culture">
            <div class="height">
                <strong class="title">Culture Touch</strong>
                <div class="text-holder">
                    <p>Together with Studio GOOD we concepted, designed and built a tablet magazine for ARTE to promote the great culture content available on ARTE.</p>
                </div>
            </div>
            <div class="btn-holder">
                <div class="btn-col">
                    <a href="#" class="btn">Tell me more</a>
                </div>
                <div class="btn-col">
                    <a href="#" class="btn">AppStore</a>
                </div>
            </div>
        </div>
        <div class="project-item arte">
            <div class="height">
                <strong class="title">Arte</strong>
                <div class="text-holder">
                    <p>Together with Novoda and Studio GOOD nxtbgthng reimagined the iPhone, iPad and Android apps for ARTE, the French-German TV channel.</p>
                </div>
            </div>
            <div class="btn-holder">
                <div class="btn-col">
                    <a href="#" class="btn">Tell me more</a>
                </div>
                <div class="btn-col">
                    <a href="#" class="btn">AppStore</a>
                </div>
            </div>
        </div>
        <div class="project-item digital">
            <div class="height">
                <strong class="title">Digital Concert Hall</strong>
                <div class="text-holder">
                    <p>The Digital Concert Hall by the Berlin Philharmonics is the worlds biggest collection of videos of classical concerts.</p>
                </div>
            </div>
            <div class="btn-holder">
                <div class="btn-col">
                    <a href="#" class="btn">Tell me more</a>
                </div>
                <div class="btn-col">
                    <a href="#" class="btn">AppStore</a>
                </div>
            </div>
        </div>
        <div class="project-item impossible">
            <div class="height">
                <strong class="title">Impossible Project</strong>
                <div class="text-holder">
                    <p>For the Impossible Project we devleoped an app that let's you expose your iPhone's digital photos to analog instant film using the Instant Lab.</p>
                </div>
            </div>
            <div class="btn-holder">
                <div class="btn-col">
                    <a href="#" class="btn">Tell me more</a>
                </div>
                <div class="btn-col">
                    <a href="#" class="btn">AppStore</a>
                </div>
            </div>
        </div>
        <div class="project-item soundcloud">
            <div class="height">
                <strong class="title">Soundcloud</strong>
                <div class="text-holder">
                    <p>We built the app from the ground up and helped build the iPad user interface that was launched in the fall of 2011.</p>
                </div>
            </div>
            <div class="btn-holder">
                <div class="btn-col">
                    <a href="#" class="btn">Tell me more</a>
                </div>
                <div class="btn-col">
                    <a href="#" class="btn">AppStore</a>
                </div>
            </div>
        </div>
        <div class="project-item trivago">
            <div class="height">
                <strong class="title">trivago</strong>
                <div class="text-holder">
                    <p>For trivago, the world's largest hotel search website, we set out to build an app that let's you find the perfect place to stay.</p>
                </div>
            </div>
            <div class="btn-holder">
                <div class="btn-col">
                    <a href="#" class="btn">Tell me more</a>
                </div>
                <div class="btn-col">
                    <a href="#" class="btn">AppStore</a>
                </div>
            </div>
        </div>
        <div class="project-item carhartt">
            <div class="height">
                <strong class="title">Carhartt Radio</strong>
                <div class="text-holder">
                    <p>With this app you can listen to the great mixes produced by DJs and artists exclusively for the Carhartt Radio show.</p>
                </div>
            </div>
            <div class="btn-holder">
                <div class="btn-col">
                    <a href="#" class="btn">Tell me more</a>
                </div>
                <div class="btn-col">
                    <a href="#" class="btn">AppStore</a>
                </div>
            </div>
        </div>
        <div class="project-item semperoper">
            <div class="height">
                <strong class="title">Semperoper Dresden</strong>
                <div class="text-holder">
                    <p>Together with Fons Hickmann M23 and New Image we designed and built the iPhone app for one of Germany's most well known opera houses.</p>
                </div>
            </div>
            <div class="btn-holder">
                <div class="btn-col">
                    <a href="#" class="btn">Tell me more</a>
                </div>
                <div class="btn-col">
                    <a href="#" class="btn">AppStore</a>
                </div>
            </div>
        </div>
        <div class="project-item red-bull">
            <div class="height">
                <strong class="title">Red Bull Music Academy Radio</strong>
                <div class="text-holder">
                    <p>Together with EdenSpiekermann we set out to build an app that lets you enjoy the ever expanding catalog of the Red Bull Music Academy Radio.</p>
                </div>
            </div>
            <div class="btn-holder">
                <div class="btn-col">
                    <a href="#" class="btn">Tell me more</a>
                </div>
                <div class="btn-col">
                    <a href="#" class="btn">AppStore</a>
                </div>
            </div>
        </div>
        <div class="project-item sleek">
            <div class="height">
                <strong class="title">Sleek Art Guide Berlin</strong>
                <div class="text-holder">
                    <p>Discover the well known and the hidden art scene in Berlin. The sleek Art Guide Berlin offers a highly subjective art guide through the art scene of Berlin. </p>
                </div>
            </div>
            <div class="btn-holder">
                <div class="btn-col">
                    <a href="#" class="btn">Tell me more</a>
                </div>
                <div class="btn-col">
                    <a href="#" class="btn">AppStore</a>
                </div>
            </div>
        </div>
    </div>
</div>