<div class="projects-banner">
    <div class="animation-frame">
        <div class="img-screen">
            <canvas data-url="js/canvasApi/" id="canvas" width="1200" height="700" style="background-color:#E55943"></canvas>
        </div>
    </div>
    <noscript>
        <div class="tvscreen-frame">
            <div class="img-screen">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="images/img05-small.png, images/img05-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/img05-medium.png, images/img05-medium-2x.png 2x" media="(max-width: 1023px)">
                    <source srcset="images/img05.png">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="img05.png" alt="image description">
                </picture>
            </div>
            <div class="text-box">
                <h1>Projects</h1>
            </div>
        </div>
    </noscript>
</div>