<header id="header" {% if page.layout == "projects" %}class="project"{% endif %}>
    <div class="container">
        <a href="#" class="nav-opener"><span>menu</span></a>
        <div class="logo">
            <a href="/"><img src="/images/logo.png" height="29" width="122" alt="Evenly"></a>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/jobs">Jobs</a></li>
            </ul>
        </nav>
    </div>
</header>