<div class="contact-slider cycle-gallery">
    <div class="slider-holder">
        <div class="mask">
            <div class="slideset">
                <div class="slide">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="images/img02-small.png, images/img02-small-2x.png 2x" media="(max-width: 767px)">
                        <source srcset="images/img02-medium.png, images/img02-medium-2x.png 2x" media="(max-width: 1023px)">
                        <source srcset="images/img02.png">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="/images/img02.png" alt="image description">
                    </picture>
                </div>
                <div class="slide">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="images/img02-small.png, images/img02-small-2x.png 2x" media="(max-width: 767px)">
                        <source srcset="images/img02-medium.png, images/img02-medium-2x.png 2x" media="(max-width: 1023px)">
                        <source srcset="images/img02.png">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="/images/img02.png" alt="image description">
                    </picture>
                </div>
                <div class="slide">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="images/img02-small.png, images/img02-small-2x.png 2x" media="(max-width: 767px)">
                        <source srcset="images/img02-medium.png, images/img02-medium-2x.png 2x" media="(max-width: 1023px)">
                        <source srcset="images/img02.png">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="/images/img02.png" alt="image description">
                    </picture>
                </div>
                <div class="slide">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="images/img02-small.png, images/img02-small-2x.png 2x" media="(max-width: 767px)">
                        <source srcset="images/img02-medium.png, images/img02-medium-2x.png 2x" media="(max-width: 1023px)">
                        <source srcset="images/img02.png">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="/images/img02.png" alt="image description">
                    </picture>
                </div>
                <div class="slide">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="images/img02-small.png, images/img02-small-2x.png 2x" media="(max-width: 767px)">
                        <source srcset="images/img02-medium.png, images/img02-medium-2x.png 2x" media="(max-width: 1023px)">
                        <source srcset="images/img02.png">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="/images/img02.png" alt="image description">
                    </picture>
                </div>
            </div>
        </div>
        <a class="btn-prev" href="#">Previous</a>
        <a class="btn-next" href="#">Next</a>
    </div>
    <div class="pagination">
        <!-- pagination generated here -->
    </div>
    <a href="#" class="btn-primary">Contact us</a>
</div>