<div class="contact-slider cycle-gallery">
    <div class="slider-holder">
        <div class="mask">
            <div class="slideset">
                {% for project in site.projects %}
                    <div class="slide">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="{{ project.hero-img-small }}, {{ project.hero-img-small-2x }} 2x" media="(max-width: 767px)">
                            <source srcset="{{ project.hero-img-medium }}, {{ project.hero-img-medium-2x }} 2x" media="(max-width: 1023px)">
                            <source srcset="{{ project.hero-img }}">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="{{ project.hero-img }}" alt="{{ project.hero-img-description }}">
                        </picture>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a class="btn-prev" href="#">Previous</a>
        <a class="btn-next" href="#">Next</a>
    </div>
    <div class="pagination">
        <!-- pagination generated here -->
    </div>
    <a href="/contact" class="btn-primary">Contact us</a>
</div>