<section class="container">
    <div class="team-block">
        <h2>Our Team</h2>
        <div class="team-member-holder">
            {% for person in site.data.team %}
            <div class="team-member">
                <div class="img-holder">
                    <a href="#">
                        <!-- picturefill: full manual control -->
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="{{ person.img-small }}, {{ person.img-small-2x }} 2x" media="(max-width: 767px)">
                            <source srcset="{{ person.img-medium }}, {{ person.img-medium-2x }} 2x" media="(max-width: 1023px)">
                            <source srcset="{{ person.img }}">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="{{ person.img }}" alt="{{ page.img-description }}">
                        </picture>
                    </a>
                </div>
                <strong class="name"><a href="#">{{ person.firstname }} <br>{{ person.lastname }}</a></strong>
            </div>
            {% endfor %}
        </div>
    </div>
</section>