<div class="jobs-banner">
    <div class="img-holder">
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/images/img14-small.jpg, /images/img14-small-2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="/images/img14-medium.jpg, /images/img14-medium-2x.jpg 2x" media="(max-width: 1023px)">
            <source srcset="/images/img14.jpg">
            <!--[if IE 9]></video><![endif]-->
            <img src="/images/img14.jpg" alt="image description">
        </picture>
    </div>
    <div class="holder">
        <h1>Join <br>the <br>party</h1>
    </div>
</div>