#footer {
  color: #8e8e8e;
  background: #3b3b3b;
  font-size: 12px;
  padding: 14px 0;
  .container {
    max-width: 670px;
  }
  @include media ('<tablet') {
    text-align: center;
    padding: 13px 0;
  }
  address {
    font-style: normal;
    float: left;
    margin: 8px 0 0;
    .tel {
      color: #8e8e8e;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    @include media ('<tablet') {
      display: none;
    }
  }
  .btn-default {
    @include media ('>=tablet') {
      float: right;
    }
  }
}