<section class="team-member-block container">
    <h2>We are</h2>
    <div class="team-membe-holder">
        {% for person in site.data.team %}
            <div class="member-box">
                <div class="img-holder">
                    <a href="#">
                        <!-- picturefill: full manual control -->
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/images/img18.png, /images/img18-2x.png 2x" media="(max-width: 767px)">
                            <source srcset="/images/img13-medium.png, /images/img13-medium-2x.png 2x" media="(max-width: 1024px)">
                            <source srcset="/images/img13.png">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="img13.png" alt="image description">
                        </picture>
                    </a>
                </div>
                <strong class="name"><a href="#">{{ person.firstname }} <br>{{ person.lastname }}</a></strong>
                <ul class="social-share">
                    <li><a href="mailto:{{ person.email }}" class="email">{{ person.email }}</a></li>
                    <li><a href="#" class="twitter">{{ person.twitter }}</a></li>
                    <li><a href="#">{{ person.github }}</a></li>
                </ul>
            </div>
        {% endfor %}
    </div>
</section>